@tailwind base;
@tailwind components;
@tailwind utilities;

.placeholders {
  padding: 5px;
}

.placeholders[placeholder]:empty:before {
  content: attr(placeholder);
  color: #555;
}

.widget-grid {
  padding: var(--offset);
  grid-template-columns: repeat(var(--col), minamx(0, 1fr));
  gap: var(--offset);
}

.gradientback {
  position: absolute;

  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 20%;
  pointer-events: none;
  background: -moz-linear-gradient(
    top,
    transparent 0%,
    rgb(255, 255, 255) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(255, 255, 255, 0)),
    color-stop(100%, rgb(255, 255, 255))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    transparent 0%,
    rgb(255, 255, 255) 100%
  ); /* Chrome10+, Safari5.1+ */
  background: -o-linear-gradient(
    top,
    transparent 0%,
    rgb(255, 255, 255) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    top,
    transparent 0%,
    rgb(255, 255, 255) 100%
  ); /* IE10+ */
  background: linear-gradient(
    to bottom,
    transparent 0%,
    rgb(255, 255, 255) 100%
  ); /* W3C */
  filter: progid: dximagetransform.microsoft.gradient(startColorstr='transparent', endColorstr='#000000', GradientType=0); /* IE6-9 */
}

.middle-btn-hover {
  background:
    linear-gradient(to bottom right, #434343 5%, #545454 95%) padding-box,
    linear-gradient(to bottom right, #6f6f6f 5%, #474747 95%) border-box;
  border: 1px solid transparent;
}

.middle-btn-static {
  background-color: #2d2d2d;
  border: 1px solid #242424;
}

.styled-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #eaeaea #ffffff00;
  scrollbar-gutter: stable;
}

@keyframes drawer-down {
  0% {
    top: 136px;
  }

  40% {
    top: calc(100% - 136px);
  }

  100% {
    top: calc(100% - 152px);
  }
}

@keyframes drawer-up {
  0% {
    top: calc(100% - 126px);
  }

  40% {
    top: 114px;
  }

  100% {
    top: 136px;
  }
}

.drawer-down {
  animation: drawer-down 0.3s forwards;
}

.drawer-up {
  animation: drawer-up 0.3s forwards;
}

@keyframes modal-show {
  0% {
    opacity: 0;
    top: 60px;
  }

  40% {
    opacity: 1;
    top: -20px;
  }

  40% {
    opacity: 1;
    top: 0px;
  }
}

.modal-show {
  animation: modal-show 0.5s forwards;
}

.checkbox-wrapper-12 {
  position: relative;
}
.checkbox-wrapper-12 > svg {
  position: absolute;
  top: -130%;
  left: -170%;
  width: 110px;
  pointer-events: none;
}
.checkbox-wrapper-12 * {
  box-sizing: border-box;
}
.checkbox-wrapper-12 input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  margin: 0;
}
.checkbox-wrapper-12 input[type="checkbox"]:focus {
  outline: 0;
}
.checkbox-wrapper-12 .cbx {
  width: 20px;
  height: 20px;
  top: calc(50vh - 10px);
  left: calc(50vw - 10px);
}
.checkbox-wrapper-12 .cbx input {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #bfbfc0;
  border-radius: 50%;
}
.checkbox-wrapper-12 .cbx label {
  width: 20px;
  height: 20px;
  background: #ffffff55;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-filter: url("#goo-12");
  filter: url("#goo-12");
  transform: trasnlate3d(0, 0, 0);
  pointer-events: none;
}
.checkbox-wrapper-12 .cbx svg {
  position: absolute;
  top: 4px;
  left: 3px;
  z-index: 1;
  pointer-events: none;
}
.checkbox-wrapper-12 .cbx svg path {
  stroke: #fff;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 19;
  stroke-dashoffset: 19;
  transition: stroke-dashoffset 0.3s ease;
  transition-delay: 0.2s;
}
.checkbox-wrapper-12 .cbx input:checked + label {
  animation: splash-12 0.6s ease forwards;
}
.checkbox-wrapper-12 .cbx input:checked + label + svg path {
  stroke-dashoffset: 0;
}
@-moz-keyframes splash-12 {
  40% {
    background: #866efb;
    box-shadow:
      0 -18px 0 -8px #866efb,
      16px -8px 0 -8px #866efb,
      16px 8px 0 -8px #866efb,
      0 18px 0 -8px #866efb,
      -16px 8px 0 -8px #866efb,
      -16px -8px 0 -8px #866efb;
  }
  100% {
    background: #866efb;
    box-shadow:
      0 -36px 0 -10px transparent,
      32px -16px 0 -10px transparent,
      32px 16px 0 -10px transparent,
      0 36px 0 -10px transparent,
      -32px 16px 0 -10px transparent,
      -32px -16px 0 -10px transparent;
  }
}
@-webkit-keyframes splash-12 {
  40% {
    background: #866efb;
    box-shadow:
      0 -18px 0 -8px #866efb,
      16px -8px 0 -8px #866efb,
      16px 8px 0 -8px #866efb,
      0 18px 0 -8px #866efb,
      -16px 8px 0 -8px #866efb,
      -16px -8px 0 -8px #866efb;
  }
  100% {
    background: #866efb;
    box-shadow:
      0 -36px 0 -10px transparent,
      32px -16px 0 -10px transparent,
      32px 16px 0 -10px transparent,
      0 36px 0 -10px transparent,
      -32px 16px 0 -10px transparent,
      -32px -16px 0 -10px transparent;
  }
}
@-o-keyframes splash-12 {
  40% {
    background: #866efb;
    box-shadow:
      0 -18px 0 -8px #866efb,
      16px -8px 0 -8px #866efb,
      16px 8px 0 -8px #866efb,
      0 18px 0 -8px #866efb,
      -16px 8px 0 -8px #866efb,
      -16px -8px 0 -8px #866efb;
  }
  100% {
    background: #866efb;
    box-shadow:
      0 -36px 0 -10px transparent,
      32px -16px 0 -10px transparent,
      32px 16px 0 -10px transparent,
      0 36px 0 -10px transparent,
      -32px 16px 0 -10px transparent,
      -32px -16px 0 -10px transparent;
  }
}
@keyframes splash-12 {
  40% {
    background: #866efb;
    box-shadow:
      0 -18px 0 -8px #866efb,
      16px -8px 0 -8px #866efb,
      16px 8px 0 -8px #866efb,
      0 18px 0 -8px #866efb,
      -16px 8px 0 -8px #866efb,
      -16px -8px 0 -8px #866efb;
  }
  100% {
    background: #866efb;
    box-shadow:
      0 -36px 0 -10px transparent,
      32px -16px 0 -10px transparent,
      32px 16px 0 -10px transparent,
      0 36px 0 -10px transparent,
      -32px 16px 0 -10px transparent,
      -32px -16px 0 -10px transparent;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    right: 100%;
  }

  100% {
    opacity: 1;
    right: 0%;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    right: 0%;
  }

  100% {
    opacity: 0;
    right: 100%;
  }
}

.fadeIn {
  animation: fade-in 0.4s forwards;
}

.fadeOut {
  animation: fade-out 0.4s forwards;
}
